@import "settings";

/* ===================================================================
   MIXINS
   =================================================================== */


// Gradient
@mixin m-gradient($topColor, $bottomColor, $gradientStart: 0%, $gradientStop: 100%) {
  background: $topColor;
  background: -moz-linear-gradient(top,  $topColor $gradientStart, $bottomColor $gradientStop);
  background: -webkit-gradient(linear, left top, left bottom, color-stop($gradientStart,$topColor), color-stop($gradientStop,$bottomColor));
  background: -webkit-linear-gradient(top,  $topColor $gradientStart,$bottomColor $gradientStop);
  background: -o-linear-gradient(top,  $topColor $gradientStart,$bottomColor $gradientStop);
  background: -ms-linear-gradient(top,  $topColor $gradientStart,$bottomColor $gradientStop);
  background: linear-gradient(to bottom,  $topColor $gradientStart,$bottomColor $gradientStop);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$topColor', endColorstr='$bottomColor',GradientType=0 );
}

// Box shadow
@mixin m-boxShadow($shadows...) {
  -webkit-box-shadow: $shadows;
  -moz-box-shadow:    $shadows;
  box-shadow:         $shadows;
}

// Text Shaodw
@mixin m-textShadow($shadows...) {
  text-shadow: $shadows;
}

// Border radius
@mixin m-borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Box sizing
@mixin m-boxSizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}

// Background size
@mixin m-backgroundSize($value){
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}

// Opacity
@mixin m-opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}

// Transition
@mixin m-transition($transition...) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

// Transform
@mixin m-transform($transformation...) {
  -webkit-transition: -webkit-transform $transformation;
  -moz-transition: -moz-transform $transformation;
  -o-transition: -o-transform $transformation;
  transition: transform $transformation;
}

// White space wrap
@mixin m-whiteSpaceWrap(){
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

// Calc
@mixin m-calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

// Font face
@mixin m-fontFace($style-name, $file, $weight) {
  $filepath: "/fonts/" + $file;
  @font-face {
    font-family: "#{$style-name}";
    src: url($filepath + ".eot");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    font-weight: $weight;
  }
}