
/* ===================================================================
   SETTINGS
   =================================================================== */

// Font family
$fontFamily--primary:               'Open Sans', sans-serif;

// Font sizes
$fontSize--smaller:                   8px;
$fontSize--small:                    10px;
$fontSize--normal:                   12px;
$fontSize--medium:                   14px;
$fontSize--large:                    18px;
$fontSize--larger:                   23px;

// Font weight
$fontWeight--light:                  300;
$fontWeight--regular:                400;
$fontWeight--medium:                 600;
$fontWeight--bold:                   700;

// Letter spacing
$letterSpacing--loose:               1px;
$letterSpacing--regular:             0px;
$letterSpacing--tight:               -1px;
$letterSpacing--tighter:             -2px;

// Line Height
$lineHeight--normal:                 18px;

// Z-Index Scale (private vars)
$zIndex-1:                          100;
$zIndex-2:                          200;
$zIndex-3:                          300;
$zIndex-4:                          400;
$zIndex-5:                          500;
$zIndex-6:                          600;
$zIndex-7:                          700;
$zIndex-8:                          800;
$zIndex-9:                          900;
$zIndex-10:                         1000;


// Colors
$color--background:                 rgb(255, 255, 255);
$color--text:                       rgb(37, 37, 37);

// Primary color
$color--primary:                    #000000;